@page
@model SuperShapeCalculator.ShapeDataEntryModel
@{
    ViewData["Title"] = "Data Entry";
}



<div class="container">
    <h1 class="display-5 text-center">Enter Your Shape's Dimensions (cm)</h1>
    <form class="row shape-entry" method="post">
        <input type="hidden" id="shape" name="shape" asp-for="Shape">
        <input type="hidden" id="area" name="area" asp-for="Area">
        @if (Model.Shape == "circle")
        {
            <div class="form-group col-sm-4"></div>
            <div class="form-group col-sm-4" id="radius">
                <label asp-for="Radius" class="form-label">Radius</label>
                <input asp-for="Radius" type="number" class="form-control">
            </div>
            <div class="form-group col-sm-4"></div>
        }

        @if (Model.Shape == "triangle")
        {
            <div class="form-group col-sm-3"></div>
            <div class="form-group col-sm-3" id="base">
                <label asp-for="vBase" class="form-label">Base</label>
                <input asp-for="vBase" type="number" class="form-control">
            </div>
            <div class="form-group col-sm-3" id="height">
                <label asp-for="vHeight" class="form-label">Height</label>
                <input asp-for="vHeight" type="number" class="form-control">
            </div>
            <div class="form-group col-sm-3"></div>
        }

        @if (Model.Shape == "square")
        {
            <div class="form-group col-sm-3"></div>
            <div class="form-group col-sm-3" id="base">
                <label asp-for="vBase" class="form-label">Base</label>
                <input asp-for="vBase" type="number" class="form-control">
            </div>
            <div class="form-group col-sm-3" id="height">
                <label asp-for="vHeight" class="form-label">Height</label>
                <input asp-for="vHeight" type="number" class="form-control">
            </div>
            <div class="form-group col-sm-3"></div>
        }

        @if (Model.Shape == "pentagon")
        {
            <div class="form-group col-sm-4"></div>
            <div class="form-group col-sm-4" id="side">
                <label asp-for="vSide" class="form-label">Side</label>
                <input asp-for="vSide" type="number" class="form-control">
            </div>
            <div class="form-group col-sm-3"></div>
        }

        <div class="shape-entry-buttons">
            <div class="back-button">
                <button class="btn btn-secondary" type="button" onclick="window.history.go(-1); return false;">Back</button>
            </div>
            <div class="calc-button">
                <button class="btn btn-primary" type="submit">Calculate</button>
            </div>
        </div>

    </form>

</div>